server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: suricata
    static_configs:
    - targets:
        - localhost
      labels:
        job: suricata
        __path__: /var/log/suricata/eve.json
    pipeline_stages:
    - json:
        expressions:
          event_type: event_type
          src_ip: src_ip
          dest_ip: dest_ip
          alert_severity: alert.severity
          alert_signature: alert.signature
    - labels:
        event_type:
        severity: alert_severity
