server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: varlogs
    static_configs:
      - targets:
          - localhost
        labels:
          job: varlogs
          host: soc-server
          __path__: /var/log/**/*.log

  - job_name: suricata
    static_configs:
      - targets:
          - localhost
        labels:
          job: suricata
          host: soc-server
          __path__: /var/log/suricata/*.log

  - job_name: suricata-eve
    static_configs:
      - targets:
          - localhost
        labels:
          job: suricata_eve
          host: soc-server
          __path__: /var/log/suricata/eve.json
